.intro {
  font-family:
    Graphik,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Helvetica,
    Arial,
    sans-serif;
  font-size: 24px;
  font-style: italic;
  margin: 20px;
  background-color: black;
  color: white;
  padding: 20px;
  margin: 50px;
  text-align: center;
}

.links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.cars {
  margin: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.auctions {
  margin: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

p {
  font-family:
    Graphik,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Helvetica,
    Arial,
    sans-serif;
  font-size: 18px;
}

.contact {
  font-family:
    Graphik,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Helvetica,
    Arial,
    sans-serif;
  font-size: 18px;
  margin: 20px;
  text-align: center;
}
