.inquire {
  font-family:
    Graphik,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Helvetica,
    Arial,
    sans-serif;
  font-size: 18px;
  color: white;
  text-decoration: none;
  background-color: transparent;
  border: 2px dashed white;
  padding: 10px;
  margin-top: 20px;
  display: block;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.inquire:hover {
  color: black;
  background-color: white;
  padding: 10px 10px;
  border-radius: 4px;
}

.carDetails p {
  text-align: center;
}

.carDetails h1 {
  text-align: center;
}

.carDetails button {
  display: block;
  margin: 20px auto;
  padding: 12px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: white;
  color: black;
  border: none;
  border-radius: 4px;
  font-family:
    Graphik,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Helvetica,
    Arial,
    sans-serif;
  font-weight: bold;
  transition: all 0.3s ease;
}

.carDetails button:hover {
  background-color: #e0e0e0;
}
