h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  list-style: none;
}

.carTitle {
  text-decoration: none;
  color: white;
  background-color: transparent;
  transition: all 0.3s ease;
}

.carTitle:hover {
  color: black;
  background-color: white;
  padding: 10px 10px;
  border-radius: 4px;
}

.carListItem {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 40px 10px;
}

.carTitle {
  font-family:
    Graphik,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Helvetica,
    Arial,
    sans-serif;
  font-size: 20px;
  margin: 10px;
  color: white;
  text-decoration: none;
  border: 2px dashed white;
  padding: 10px;
}

.deleteCarLink {
  font-family:
    Graphik,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Helvetica,
    Arial,
    sans-serif;
  font-size: 12px;
  color: white;
  text-decoration: none;
  background-color: transparent;
  border: 2px dashed white;
  padding: 8px;
  display: block;
  width: fit-content;
  margin-top: 15px;
  border-radius: 4px;
  transition: all 0.3s ease;
}

.deleteCarLink:hover {
  color: black;
  background-color: white;
}
