.loginPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loginForm {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  max-width: 400px;
  width: 100%;
}
