header {
  height: 400px;
  background-image: url("../assets/dh_marte_web_long2.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
}
body {
  background-color: black;
  color: white;
}

footer {
  display: flex;
  justify-content: end;
  margin-top: 50px;
}
